
<mat-toolbar color="primary">
    <span>  JUST ONE CART    </span>  
   <div style="float: right;"> <a  style="cursor: pointer; " (click)="logout()">Logout</a></div>
  </mat-toolbar>
  <mat-menu >
    
  
  </mat-menu>

  <!-- main app container -->
  <div class="container-fluid">
  
    <!--<div class="container">
      <div class="row">
        <div class="col-sm-6 offset-sm-3">
          <alert></alert>-->
          <router-outlet></router-outlet>
    <!--</div>
      </div>
    </div>-->
  </div>
  
  
  
  
  
  
  
  